
@{
    ViewBag.Title = "Adminka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adminka</h2>
<h3>@ViewBag.Msg</h3>
@Html.ActionLink("Заявки на регистрацию", "SeeListUnregUsers")
@Html.ActionLink("Добавить услугу", "AddService")
@Html.ActionLink("Добавить тариф", "AddRate")
