@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.Msg</h1>
<div class="jumbotron">
    <h1>Интернет провайдер</h1>
    <p class="lead">Добро пожаловать на сайт интернет провайдера "Интернет провайдер!"</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Начните здесь!</h2>
        <p>
            Познакомьтесь с потрясающей скоростью нашего интернета!
        </p>
        <p>
            @Html.ActionLink("Услуги", "SeeServicesList", new {area = "Common", controller = "Home"}, new {@class = "btn btn-default"})
        </p>
    </div>
    <div class="col-md-4">
        <h2>Бесплатная регистрация!</h2>
        <p>Зарегистрируйтесь что-бы получить доступ ко всем без исключениям нашим предложениям!</p>
        <p>
            @Html.ActionLink("Регистрация", "Registration",new {area = "Security", controller = "Security"}, new {@class = "btn btn-default"})
        </p>
    </div>
    <div class="col-md-4">
        <h2>Выберите подходящий Вам тарифный план</h2>
        <p>И получайте в ваше распоряжение гигабайты свежей информации;) по удобной Вам цене!</p>
        <p>
            @Html.ActionLink("Тарифы", "SeeRateList", new { area = "Common", controller = "Home" }, new { @class = "btn btn-default" })
        </p>
    </div>
</div>